.button {
    padding: .6875rem 1.875rem;
    border-radius: .75rem;
    border: nome;
    background-color: var(--color-brand-1);
    color: var(--color-grey-3);
}

.button:hover {
    background-color: var(--color-brand-2);
    color: var(--color-grey-1);
}