.section {
    margin-bottom: 5.625rem;
}

.h2 {
    margin-bottom: 1.5625rem;
}

@media (min-width: 43.75rem) {
    .section {
        display: flex;
        margin-bottom: 6.25rem;
        justify-content: space-between;
    }

    .h2 {
        margin-right: 6.25rem;
        width: fit-content;
    }

    .p {
        width: 74%;
    }
}